:root {
    --color-fondo: #010618;
    --color-canvas: #000000;
    --color-borde: #917c8e; 
    --color-texto: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  background: var(--color-fondo);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 2px solid var(--color-borde);
  border-radius: 20px;
  background: var(--color-canvas);
  display: block;
}
