:root {
    --color-fondo: #10012e;
    --color-canvas: #2f0549;
    --color-borde: #e316c8; 
    --color-texto: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  background: var(--color-fondo);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 2px solid var(--color-borde);
  border-radius: 20px;
  background: var(--color-canvas);
  display: block;
}

.hud {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: space-between;
}